#LeftPanel {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 27%;
    background-color: rgb(41, 44, 64);
    padding: 10px;
    margin: 1%;
    border-radius: 25px;
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

#profilePic {
    width: 200px;
    height: 210px;
    border-radius: 20%;
}

#name {
    color: white;
    font-size: 55px;
    margin-bottom: 0px;
    text-shadow: -2px 2px 4px rgba(52, 183, 253, 0.982);
}

#occupation {
    color: rgb(69, 135, 242);
    font-size: 27px;
    margin-bottom: 70px;
    margin-top: 15px;
    
}

#education {
    display: flex;
    width: 100%;
    margin-bottom: 7px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 30px;
    height: 30px;
}

#pics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.shiftPicLeft {
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.shiftPicRight {
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.shiftPicLeft:hover {
    width: 60px;
    height: 60px;
    color: rgba(69, 135, 242, 0.8);
    font-weight: bold;
    margin: 0px;
    transition: color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.shiftPicRight:hover {
    width: 60px;
    height: 60px;
    color: rgba(69, 135, 242, 0.8);
    font-weight: bold;
    margin: 0px;
    transition: color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}
  
.animateImg.animateRight {
    animation: shake-right-animation 1s infinite;
}

@keyframes shake-right-animation {
    0% {
      transform: translateX(5px);
    }
    25% {
      transform: translateX(12px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(12px);
    }
    100% {
      transform: translateX(5px);
    }
}

.animateImg.animateLeft {
    animation: shake-left-animation 1s infinite;
}

@keyframes shake-left-animation {
    0% {
      transform: translateX(-5px);
    }
    25% {
      transform: translateX(-12px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(-12px);
    }
    100% {
      transform: translateX(-5px);
    }
}
