#RightPanel {
    background-color: rgb(41, 44, 64);
    background: linear-gradient(to bottom, rgb(41, 44, 64), rgb(19, 20, 33));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    margin: 15px 15px 15px 0px;
    border-radius: 25px;
    flex: 1 1 auto;
    overflow-y: auto;
    margin-left: 30.5%;

    background: 
    linear-gradient(90deg,#0000 33%,rgba(54, 65, 106, 0.14) 50%,#0000 66%)
    rgb(41, 44, 64);
  background-size:300% 100%;
  animation: shine 2s;
}

@keyframes shine {
    0% {
      background-position: right;    
    }
    /*100% {
      background-position: left; it's the default value, no need to define it
    }*/
  }