img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    border-radius: 50%;
}

span {
    color: white;
    padding-bottom: 1.5px;
}

#elem {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 0px 0px;
    border: 2px solid rgb(42, 111, 222);
    padding: 2px 8px 2px 8px;
    background-color: transparent;
    border-radius: 15px;
}